/*=======================================================================================*/
/* VARIABLES Y RESET */
:root{
    --color-principal: rgb(36, 68, 48);
    --color-secundario: rgb(97, 186, 75);
    --color-boton: rgb(255, 174, 12);
    --color-boton-secundario: rgb(235, 118, 8);
    --color-white: rgb(255 ,255 ,255);

    --box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1)
}

* { /* elimina los margenes */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--white);
}

body {
    /* fuente del body */
    color: black;
    line-height: 1.6;

    /* dispocisión de las partes de la pagina (header, body, footer) */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* vh = 1% del alto de la pantalla */

    /* margen superior para que el "navbar" no tape el contenido */
    margin-top: 8%; 
}

main {
    flex: 1; /* mueve el footer al final de la pagina */

    /* ancho del contenido */
    width: 100%;
    max-width: 1200px;

    /* margin y pading del contenido principal (main) */
    margin: 0 auto;
}

h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1%;
}

a { /* elimina las decoraciones del texto */
    text-decoration: none; 
}

ul { /* elimina las decoraciones de lista */
    list-style: none;
}

img {
    /* imagen ahora ocupa el 100% del contenedor */
    max-width: 100%;
    display: block;
}

/*=======================================================================================*/
/* BOTONES */
.boton{
    /* color del findo y letra */
    background-color: var(--color-boton);
    color: white;

    /* margenes y posición del boton*/
    padding: 10px 20px;
    border-radius: 5px; /* redondea esquinas */
    border: none;
    display: inline-block;

    /* cambia el raton al colocarlo encima */
    cursor: pointer;

    font-weight: bold; /* negrita */
}

.boton:hover{ /* cambia el boton al pasar con el ratón*/
    background-color: var(--color-boton-secundario);
}

/*=======================================================================================*/
/* HEADER -> NAVBAR */
.main-header{ 
    /* color de fondo y padding del "navbar" */
    background-color: var(--color-principal);
    padding: 1% 2%;

    position: fixed; /* fija "navbar" en la parte superior de la pantalla */
    
    top: 0; /* pegado arriba */
    left: 0; /* pegado a la izquierda */
    width: 100%; /* ocupa el 100% de la pantalla */

    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.navbar{ /* disposición de los elementos */
    display: flex;
    justify-content: space-between; /* coloca a los lados */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo { /* texto del Logo */
    color: white;
    font-size: 32px;
    font-weight: bold;

    /* disposición de los elementos */
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 20px; /* espacio entre elemantos */
    align-items: center;
}

.nav-links a{ /* color de letra */
    color: white;
    font-size: 16px;
}

/*=======================================================================================*/
/* FOOTER */
.main-footer{
    /* color y margenes del footer */
    background-color: var(--color-principal);
    color: white;
    padding: 3% 1%;
    margin-top: auto;
}

.footer-content{
    /* disposición del contenido */
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-brand{
    /* disposición del los elementos */
    display: flex;
    flex-direction: column; /* dirección arriba abajo */
    justify-content: space-between; /* mueve los elementos a los lados */
}

.social-icons{ /* disposición de los iconos */
    display: flex;
    gap: 10px;
}

.footer-links ul{
    text-align: right;
}

.footer-links a{
    color: white;
    display: block;
}


