:root{
    --color-principal: rgb(36, 68, 48);
    --color-secundario: rgb(97, 186, 75);
    --color-boton: rgb(255, 174, 12);
    --color-boton-secundario: rgb(235, 118, 8);
    --color-white: rgb(255 ,255 ,255);

    --box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1)
}

/*=======================================================================================*/
/* MAPA */
.map { 
    /* ancho y alto */
    width: 100%;
    height: 350px; 

    /* margen y esquinas */
    margin-bottom: 5%;
    border-radius: 10px;

    box-shadow: var(--box-shadow);
}

/*=======================================================================================*/
/* LISTA DE RUTAS */
.routes-section{ /*espacio hacia abajo*/
    margin-bottom: 5%;
}

.routes-list{ /* disposici칩n de los elementos de la lista */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.route-item{
    background-color: var(--color-secundario); /*color de fondo*/
    color: var(--color-white);

    /* esquinas redondeadas, padding y disposici칩n */
    border-radius: 10px;
    padding: 3%;

    display: flex;
    justify-content: space-between;
    gap: 5%;

    box-shadow: var(--box-shadow);
}

.route-info h3{
    margin-bottom: 2%; /* margen inferior */
}

.route-info p {
    margin-bottom: 2%;
}

.route-img{
    /* ancho y alto */
    width: 150px;
    height: 150px;
    flex-shrink: 0; /* Evita que la imagen se aplaste */
}

.route-img img{
    /* ocupa todo el ancho y alto disponible */
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantiene la relaci칩n de tama침o de la imagen */
    border-radius: 5px; /* esquinas */
} 
