:root{
    --color-principal: rgb(36, 68, 48);
    --color-secundario: rgb(97, 186, 75);
    --color-boton: rgb(255, 174, 12);
    --color-boton-secundario: rgb(235, 118, 8);
    --color-white: rgb(255 ,255 ,255);

    --box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1)
}

/*=======================================================================================*/
/* HERO SECTION */
.hero-section{ /* alinear texto y margen inferior*/
    text-align: left;
    margin-bottom: 5%;
}

.hero-map-img{
    margin-top: 2%;

    /* tama침o ancho y alto*/
    width: 100%;
    height: 300px;

    border-radius: 10px; /* redondea esquinas */
    overflow: hidden; /* recorta lo que no se ve de la imagen */

    box-shadow: var(--box-shadow)
}

.hero-map-img img{
    /* miestra toda la imagen dentro de su contenedor */
    width: 100%;
    height: 100%;

    /* mantiene la relaci칩n de tama침o de la imagen */
    object-fit: cover;
}

/*=======================================================================================*/
/* CARD SECTION */
.cards-section{ /* margen inferior */
    margin-bottom: 5%;
}

.cards-grid{
    display: flex; /* disposici칩n de cuadricula */

    /* espacio entre cada "card" y margen superior */
    gap: 2%;
    margin-top: 2%;
}

.card-route{
    color: #FFFFFF;
    background-color: var(--color-secundario);
    
    border-radius: 10px; /* redondea los bordes */
    overflow: hidden; /* recorta lo que no se ve */
    text-align: left;

    box-shadow: var(--box-shadow);
}

.card-content{ /* margen interior del contenedor */
    padding: 10%;
}

.card-content h3 { /* margen inferior */
    margin-bottom: 1%;
}

.card-content p { /* ancho de letra y margen inferior */
    font-size: 16px;
    margin-bottom: 3%;
}

/*=======================================================================================*/
/* INFO SECTION */
.info-section{
    margin-bottom: 5%;
}

/*=======================================================================================*/
/* CONTRIBUTE SECTION */
.contribute-section{
    display: grid;
    grid-template-columns: 1fr 1fr; /* divide en 2 columnas */
    gap: 5%;
    align-items: start; /* alinea arriba del contenedor */
}

.contribute-form{ /* ordena las casillas del formulario en una columna */
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 5%;
}

.contribute-form input, 
.contribute-form textarea {
    /* lineas y redondeado de esquinas de las casillas del formulario */
    padding: 2%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%;
}
